button.d-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.likes-container {
    display: inline-block;
    border: 0.2px solid #e91e63;
    background-color: #fff;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 14px;
}

.cal-add-btn {
    background-color: white;
    border: 1.5px solid #333;
    color: #000000;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cal-add-btn:hover {
    box-shadow: 0 4px 10px #ffc7c7;
}

.custom-background {
    background-color: #fff7f7; /* 연한 분홍색 */
    min-height: 100vh; /* 전체 화면 높이 */
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    padding: 20px; /* 컨테이너와 배경 사이 여백 */
}

.custom-container {
    background-color: white; /* 컨테이너 내부 흰색 */
    max-width: 1400px; /* 컨테이너 최대 너비 */
    width: 90%; /* 반응형 대응 */
    padding: 30px;
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 효과 */
}
